The rules for the repository everybody has to keep!

1.) Move your own solutions to separate sub-packages of the solution package!
2.) Name these packages after your user name.
3.) Do not change the solutions of others without the author's permission!

further rules may follow ...